.flex-all-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon{
    display: flex;
    align-items: center;
}

.icon img{
    border-radius: 15px;
    cursor: pointer;
}

.card-item img{
    width: 230px;
}

.card2-item img{
   width: 470px;
   margin: 10px 11px;
}

.my-2{
    margin: 26px 0;
}

.my-1{
    margin: 6px 0;
}

.text-center{
    text-align: center;
}